@*  *@
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MvcApplication2.Models.User
 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
<div id="templatemo_content_right">
    @using(Html.BeginForm("verify","User",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Scripts.Render("~/bundles/jqueryval")
        @Html.LabelFor(u=>u.UserName)
        <br />
        <br />
	    @Html.TextBoxFor(u=>u.UserName)
        @Html.ValidationMessageFor(u=>u.UserName)
        <br />
        <br />
        @Html.LabelFor(u=>u.Password)
        <br />
        <br />
	  @Html.PasswordFor(u=>u.Password)
        @Html.ValidationMessageFor(u=>u.Password)
        <br />
        <br />
        <input type="submit" id="submit" value="Login" />
          
        
    }
    </div>
